*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: calibri;
}
/* menubar style starts */
#menubar{
    background-color: orangered;
}
#menubar   a{
    color: white;
}
/* menubar style ends */
/* navbar style starts */
nav{
    background-color: white;
}
/* navbar style ends */
/* carousel style starts */
#demo .carousel-inner .carousel-item .carousel-caption{
    text-align: start;
    left: 0%;
    right: 40%;
    padding: 70px;
}
#demo ul{
    margin-left: auto;
}

/* carousel style ends */
/* offer style starts */
#offer .text-center::after{
    content: "";
    display: block;
    width: 100px;
    background: red;
    height: 3px;
    margin: 10px auto;
    border-radius: 10px;
}
#offer .row .card{
    padding: 15px;
    background-color: white;
}
#offer .row .card{
    box-shadow: 0 0 10px rgb(172, 171, 171);
}
#offer .row .card .card-body a{
    color: orangered;
    padding-bottom: 10px;
}
#offer .row .card .card-body a i{
    margin-bottom: 10px;
    font-size: 25px;
}
#offer .row .card .card-body p{
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
}
/* offer style ends */
/* app style starts */
#app .text-center::after{
    content: "";
    display: block;
    width: 100px;
    background: red;
    height: 3px;
    margin: 10px auto;
    border-radius: 10px;
}
#app .row .card .card-body p{
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
}
#app .row .card .card-header i{
    color: orangered;
    margin-right: 10px;
}
#app img{
    height: 300px;
    width: 100%;
    animation: xyz 2s ease infinite reverse;
}
@keyframes xyz{
    0%{
        transform: rotateY(0deg);
    }
    100%{transform: rotateY(360deg);
    }
}
/* app style ends */
#news .text-center::after{
    content: "";
    display: block;
    width: 100px;
    background: red;
    height: 3px;
    margin: 10px auto;
    border-radius: 10px;
}
#news .container .row h3{
    color: orangered;
}
#news .card .card-body p{
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
}
#news  img:hover{
    transform: scale(1.5);
}
#news .class{
    overflow: hidden;
}
/* footer style starts */
#footer{
    background-color: rgb(52, 51, 51);
    color: white;
}
#footer .rights{
    background-color: rgb(43, 43, 43);
}
#footer .container .row .col-md-3 h4{
    color: orangered;
}
#footer .container .row .col-md-3 p{
    color: rgb(175, 173, 173);
}
 #footer .input-group-text{
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
}
#footer ::-webkit-input-placeholder{
    color: rgb(165, 165, 165);
}
#footer .form-control{
    background: rgb(56, 56, 56);
    color: rgb(89, 87, 87);
    border: 1px solid rgb(86, 84, 84);
}
#footer .border .container{
    display: flex;
    justify-content: space-between;
}
#footer .right{
    display: flex;
    justify-content: space-between;
}
#footer .rights{
    border: 1px solid rgb(56, 56, 56);
}
#footer .rights .icons i{
    padding: 5px;
    color: white;
}
/* footer style ends */